In [1]:
multiline_string = """
b"""

In [2]:
multiline_string

'\nb'

In [3]:
list(multiline_string)

['\n', 'b']

In [4]:
"saturday".upper()

'SATURDAY'

In [5]:
"monday".capitalize()

'Monday'

In [6]:
"what is this".replace("what","how")

'how is this'

In [7]:
"mon tue wed thus fri sat sun".split()

['mon', 'tue', 'wed', 'thus', 'fri', 'sat', 'sun']

In [8]:
"   hoshdnnmd   ".strip()

'hoshdnnmd'

In [9]:
no_of_apples = 8
"there are {} apples".format(no_of_apples)

'there are 8 apples'

In [10]:
days = "mon tue wed thus fri sat sun".split()

In [11]:
len(days)

7

In [13]:
days[0]

'mon'

In [14]:
days.pop(5)

'sat'

In [15]:
days

['mon', 'tue', 'wed', 'thus', 'fri', 'sun']

In [16]:
days.remove("tue")

In [17]:
days

['mon', 'wed', 'thus', 'fri', 'sun']

In [19]:
'wed' in days

True

In [23]:
personal = {
    'name':'kul',
    'sex':'male',
    'married': True
}

In [24]:
personal = dict(name='kul',sex='male', married=True)

In [25]:
personal

{'name': 'kul', 'sex': 'male', 'married': True}

In [26]:
personal.get('name')

'kul'

In [27]:
personal.get('address')

In [33]:
a_number = 23
if a_number % 2 == 0:
    print("Inside if block")
else:
    print("break")

break

In [35]:
the_3_musketeers = ('Athos','Porthos','Aramis')
candidate = 'Athos'

In [37]:
if candidate in the_3_musketeers:
    print(f"{candidate} is a musketeers")
else:
    print(f"{candidate} is not a musketeers")

Athos is a musketeers

In [44]:
%%time
result = 1
i = 1

while i <= 1000:
    result = result * i
    i = i + 1

print(f"The factorrial of 1000 is {result}")

The factorrial of 1000 is 402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: user 338 µs, sys: 101 µs, total: 439 µs
Wall time: 453 µs

In [67]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line = line + '*'
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [52]:
line = '**********'
line = line[:-1]
line = line[:-1]
line = line[:-1]
line = line[:-1]
line = line[:-1]
line

'*****'

In [58]:
line = '**********'
max_length = 10

while len(line) > 1:
    print(line)
    line = line[:-1]
print(line)
while len(line) <= max_length:
    line = line + '*'
    print(line)

**********
*********
********
*******
******
*****
****
***
**
*
**
***
****
*****
******
*******
********
*********
**********
***********

In [92]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print("* ", end="")
    line = '*' + line
    
# while len(line) > 0:
#     print(line)
#     line = line[:-1]

* * * * * * * * * *

In [93]:
num_rows = int(input("Enter the number of rows"));
k = 8
for i in range(0, num_rows):
for j in range(0, k):
print(end=" ")
k = k - 2
for j in range(0, i+1):
print("* ", end="")
print()

IndentationError: expected an indented block (<ipython-input-93-694c03a4deb6>, line 4)

In [3]:
import pandas as pd
import numpy as np

In [4]:
def _read_excel_file(
    file_path,
    dtype=str,
    na_values=None,
    keep_default_na=False,
    skiprows=None,
    header=0,
    **kwargs,
):
    """Read in an Excel file, returns pd.DataFrame."""
    data_frame = pd.read_excel(
        io=file_path,
        dtype=dtype,
        na_values=na_values,
        keep_default_na=keep_default_na,
        skiprows=skiprows,
        header=header,
        **kwargs,
    )

    return data_frame

In [5]:
df = _read_excel_file('/devel/ksharma/LIO_LDP-2193/inp/HPTN083_iSCA_J1_20201104E001_A.xlsx',skiprows=1)

In [6]:
df = df.replace({"^\s*|\s*$":""}, regex=True)
df = df.replace({"":np.nan})

In [7]:
df.dropna(how='all', inplace=True)

In [8]:
df.columns

Index(['Study', 'Protocol', 'Testing Lab', 'Patient ID ', 'Org ID',
       'Specimen  Date', 'Visit', 'Der', 'Primary Specimen Type', 'Assay Date',
       'NRT', 'Total mL Analyzed', 'SCA Average Copies/mL',
       'Total copies detected', 'Method', 'Comment'],
      dtype='object')

In [9]:
def replace_field_name_spaces(df, regex='\s+', string="_", ):
    """Replace spaces in field names with supplied value

        Keyword Arguments:
            regex (str): regular expression pattern 
                        to be replace by string
            string {str} -- string to replace spaces
                            (default: {"_"})
    """
    df.columns = df.columns.str.replace(
        regex, string
    )
    return df

In [10]:
df.columns

Index(['Study', 'Protocol', 'Testing Lab', 'Patient ID ', 'Org ID',
       'Specimen  Date', 'Visit', 'Der', 'Primary Specimen Type', 'Assay Date',
       'NRT', 'Total mL Analyzed', 'SCA Average Copies/mL',
       'Total copies detected', 'Method', 'Comment'],
      dtype='object')

In [11]:
df2 = replace_field_name_spaces(df, string=" ")

In [12]:
df2.columns

Index(['Study', 'Protocol', 'Testing Lab', 'Patient ID ', 'Org ID',
       'Specimen Date', 'Visit', 'Der', 'Primary Specimen Type', 'Assay Date',
       'NRT', 'Total mL Analyzed', 'SCA Average Copies/mL',
       'Total copies detected', 'Method', 'Comment'],
      dtype='object')

In [38]:
def _read_csv_file(
    file_path,
    sep=",",
    dtype=str,
    na_values=None,
    keep_default_na=False,
    header=0,
    skiprows=None,
    **kwargs,
):
    """Read in a CSV file, returns pd.DataFrame."""
    data_frame = pd.read_csv(
        filepath_or_buffer=file_path,
        sep=sep,
        dtype=dtype,
        na_values=np.nan,
        keep_default_na=keep_default_na,
        header=header,
        skiprows=skiprows,
        **kwargs,
    )
    return data_frame

In [58]:
df = _read_csv_file('/devel/ksharma/LIO_LDP-2425/INPUT/CoVPN5001_SERELH01_20210330_A.csv', skiprows=1, skip_blank_lines=True)

In [59]:
df

,R_Type1,R_Type2,S_Type,S_No.,R_No.,Pos,S_ID,A_Date,Age,A_Unit,...,A_RPNo,Value.1,V_Unit.1,D_Alm.1,R_Msg.1,Dil.1,Module.1,Signal.1,A_LotNo.1,A_RPNo.1
0,3,1,1,3,2,1,PC ACOV2 1 00527737,3/1/2021 9:59,,,...,,0.089,COI,,n,,E1-1,,527896,36038
1,3,1,1,4,2,2,PC ACOV2 2 00527739,3/1/2021 10:00,,,...,,3.16,COI,,r,,E1-1,,527896,36038
2,1,1,1,7,3,1,ACCURUN POS,3/1/2021 10:38,,,...,,3.48,COI,,r,0,E1-1,,527896,36038
3,1,1,1,8,3,2,ACCURUN NEG,3/1/2021 10:39,,,...,,0.074,COI,,n,0,E1-1,,527896,36038
4,1,1,1,69,16,1,KKQ0DRBT-06,3/1/2021 13:23,,,...,,7.42,COI,,r,0,E1-1,,527896,36038
5,1,1,1,70,16,2,HDK0SJ17-03,3/1/2021 13:23,,,...,,13.36,COI,,r,0,E1-1,,527896,36038
6,,,,...,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,,,,,,,,,,...,,,,,,,,,,
10,,,,,,,,,,,...,,,,,,,,,,
11,,,,,,,,,,,...,,,,,,,,,,
12,,,,,,,,,,,...,,,,,,,,,,
13,,,,,,,,,,,...,,,,,,,,,,
14,,,,,,,,,,,...,,,,,,,,,,
15,,,,,,,,,,,...,,,,,,,,,,
16,,,,,,,,,,,...,,,,,,,,,,
17,,,,,,,,,,,...,,,,,,,,,,
18,,,,,,,,,,,...,,,,,,,,,,
19,,,,,,,,,,,...,,,,,,,,,,
20,,,,,,,,,,,...,,,,,,,,,,

In [52]:
df = df.replace({"^\s*|\s*$":""}, regex=True)
df = df.replace({"":np.nan})

In [53]:
df

,R_Type1,R_Type2,S_Type,S_No.,R_No.,Pos,S_ID,A_Date,Age,A_Unit,...,A_RPNo,Value.1,V_Unit.1,D_Alm.1,R_Msg.1,Dil.1,Module.1,Signal.1,A_LotNo.1,A_RPNo.1
0,3,1,1,3,2,1,PC ACOV2 1 00527737,3/1/2021 9:59,NaN,NaN,...,NaN,0.089,COI,NaN,n,NaN,E1-1,NaN,527896,36038
1,3,1,1,4,2,2,PC ACOV2 2 00527739,3/1/2021 10:00,NaN,NaN,...,NaN,3.16,COI,NaN,r,NaN,E1-1,NaN,527896,36038
2,1,1,1,7,3,1,ACCURUN POS,3/1/2021 10:38,NaN,NaN,...,NaN,3.48,COI,NaN,r,0,E1-1,NaN,527896,36038
3,1,1,1,8,3,2,ACCURUN NEG,3/1/2021 10:39,NaN,NaN,...,NaN,0.074,COI,NaN,n,0,E1-1,NaN,527896,36038
4,1,1,1,69,16,1,KKQ0DRBT-06,3/1/2021 13:23,NaN,NaN,...,NaN,7.42,COI,NaN,r,0,E1-1,NaN,527896,36038
5,1,1,1,70,16,2,HDK0SJ17-03,3/1/2021 13:23,NaN,NaN,...,NaN,13.36,COI,NaN,r,0,E1-1,NaN,527896,36038
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df.dropna(how='all', inplace=True)

In [55]:
df

,R_Type1,R_Type2,S_Type,S_No.,R_No.,Pos,S_ID,A_Date,Age,A_Unit,...,A_RPNo,Value.1,V_Unit.1,D_Alm.1,R_Msg.1,Dil.1,Module.1,Signal.1,A_LotNo.1,A_RPNo.1
0,3,1,1,3,2,1,PC ACOV2 1 00527737,3/1/2021 9:59,NaN,NaN,...,NaN,0.089,COI,NaN,n,NaN,E1-1,NaN,527896,36038
1,3,1,1,4,2,2,PC ACOV2 2 00527739,3/1/2021 10:00,NaN,NaN,...,NaN,3.16,COI,NaN,r,NaN,E1-1,NaN,527896,36038
2,1,1,1,7,3,1,ACCURUN POS,3/1/2021 10:38,NaN,NaN,...,NaN,3.48,COI,NaN,r,0,E1-1,NaN,527896,36038
3,1,1,1,8,3,2,ACCURUN NEG,3/1/2021 10:39,NaN,NaN,...,NaN,0.074,COI,NaN,n,0,E1-1,NaN,527896,36038
4,1,1,1,69,16,1,KKQ0DRBT-06,3/1/2021 13:23,NaN,NaN,...,NaN,7.42,COI,NaN,r,0,E1-1,NaN,527896,36038
5,1,1,1,70,16,2,HDK0SJ17-03,3/1/2021 13:23,NaN,NaN,...,NaN,13.36,COI,NaN,r,0,E1-1,NaN,527896,36038